.input {
    background-color: #212121;
    max-width: 250px;
    height: 25px;
    width: 250px;
    padding: 5px;
    text-align: center;
    border: 2px solid white;
  }
  
  .input:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }
  